ul {
list-style-type: none;
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

address {
    font-style: normal;
}

.visually-hidden {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}

body {
    font-family: 'Roboto', sans-serif;
    color:  #434455;
    background-color:  #FFFFFF;
}

p, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}



/* -------HEADER------- */

.header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}



.header-logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
color: #4d5ae5;
margin-right: 76px;
display: block;

}


.header-logo-white {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;
}

.header-menu-link {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
display: block;
padding-top: 24px;
    padding-bottom: 24px;

}


.header-menu-item :hover {
color:#404bbf; 
}

.header-menu-item :focus {
    color:#404bbf; 

    }

    .header-menu-item {
        display:flex;
        align-items: flex-end;
        transition-property:  background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
        
    }
    
.header-line {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.header-menu-link.header-line::after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.heder-nav {
    display: flex;
    margin-right: auto;
    align-items: center;
    
    }

.header-container {
    display: flex;
}

/* ------ADDRESS -------*/


.address {
    font-style: normal;
    color: #404bbf;
    
}


.address-contact {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-left: auto;
display: flex;
transition-property:  color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-item :hover {
    color:#404bbf; 
}

.address-item :focus {
    color:#404bbf; 
}

.address-list {
    display: flex;
    gap: 40px;
    align-items: center;
    margin-top: 24px;
    
}

.address-item {
    
    }

/* ----------HERO --------------- */

.hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background: #2e2f42;
    background-image: linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
    url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: cover;
    max-width: 1440px;
    background-size: cover;
    position: center;
    margin: 0 auto;
 
}






.hero-title {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
max-width: 496px;
margin: 0 auto;
    
}


.hero-btn:hover {
    background-color: #404BBF;
}
.hero-btn:focus {
    background-color: #404BBF;
}


.hero-btn {
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
cursor: pointer;
background-color: #4D5AE5;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
margin: 0 auto;
margin-top: 48px;
transition-property:  background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}




/* ------------------features */

.features {
    padding-top: 120px;
    padding-bottom: 120px;
}

.features-list {
    padding-left: 0;
    display: flex;
    gap: 24px;
}

.features-item {
    width: calc((100% - 3 * 24px) / 4);
    
}

.features-slogan {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 22px;
}

.features-icon {
    display: flex;

}

.features-icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    border: 1px solid #8e8f99;
    margin-bottom: 8px;
    width: 264px;

}

/* ---------------------TEAM  */

.team {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.our-team {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
    
}

.team-list {
    display: flex;
    gap: 24px;

}

.team-item {
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;

    box-shadow: 0px 1px 6px 
    rgba(46, 47, 66, 0.08), 0px 1px 1px 
    rgba(46, 47, 66, 0.16), 0px 2px 1px 
    rgba(46, 47, 66, 0.08); 
    
}

.name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
margin-bottom: 8px;
}

.name-div {
    padding: 32px 0;
}

.job {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;
margin-bottom: 8px;

}

.team-img {


}

/* --------PORTFOLIO */

.portfolio {
    padding-top: 120px; 
    padding-bottom: 120px;
}

.our-portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px 
    rgba(46, 47, 66, 0.16), 0px 2px 1px 
rgba(46, 47, 66, 0.08); 
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.portfolio-item:hover .portfolio-hover-text {
 transform: translateY(0);   
 }

.portfolio-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
   
}


.portfolio-hover-text {
    position: absolute;
    top: 0;
    
font-weight: 400;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
color: #fff;
height: 100%;
background: #4D5AE5;
padding-left: 32px;
padding-right: 32px;
padding-top: 40px;
padding-bottom: 164px;
display: flex;
transform: translateY(100%);
transition-property:  background-color;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
    padding: 40px 32px;
    
}

.portfolio-img-div {
    position: relative;
    overflow: hidden;
}


.portfolio-img {
 
}

.portfolio-title {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.portfolio-subtitle {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;

}

/*-------------FOOTER8*/

.footer {
background-color:  #2e2f42;
    padding-top: 100px; 
    padding-bottom: 100px; 

}

.container-footer-all {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
    align-items: baseline;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:  #4d5ae5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-white {
    font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #f4f4fd
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
    
}



.footer-soc-media {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    margin-right: 120px;
    
}

.container-footer-logo{

margin-right: 120px;
}

.footer-container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    background-color:  #2e2f42;
    padding-top: 100px; 
    padding-bottom: 100px;

}


/*---------FOOTER-SUBSCRIBE---------*/

.footer-subscribe-div {

align-items: center;
justify-content: space-between;
margin: 0 auto;


}

.footer-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color:  #fff;
    margin-bottom: 16px;
   
}

.footer-form {
    display: flex; 
   gap: 24px;
    
}


.footer-input {
    width: 264px;
height: 40px;
border: 1px solid  #fff;
border-radius: 4px;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
background-color: transparent;
padding-left: 16px;
color: #ffffff; 
font-size: 12px;
line-height: 2;
letter-spacing: 0.04em;

}

.footer-input::placeholder {
    font-weight: 400;
font-size: 12px;
line-height: 200%;
letter-spacing: 0.04em;
color:  #ffffff; 
}

.footer-btn-subscribe {
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.footer-btn-subscribe:hover {
    background-color: #404bbf;

}
.footer-btn-subscribe:focus {
    background-color: #404bbf;

}

.subscribe-svg { 
    margin-left: 16px;
   
}




/*----------SOC-ICONS----------*/

.soc-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    }


.soc-list-footer {
    display: flex;
    gap: 16px;
}

.soc-item {
    width: 40px;
    height: 40px;

}
/*.soc-link {
    width: 100%;
    height: 100%;
    background-color: #404BBF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property:  background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}*/
.soc-icon {
    fill:  #f4f4fd ;
    }

.soc-link-team:hover {
    background-color: #404bbf;
    
 }
 .soc-link-team:focus {
    background-color: #404bbf;
    
 }
 .soc-link-team {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property:  background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}


/*------------SOC-ICON-FOOTER--------*/

.soc-list-footer {
    display: flex;
    gap: 16px;
    justify-content: center;
    
}

.soc-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property:  background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.soc-link-footer:hover {
    background-color: #31D0AA;
    
 }
 .soc-link-footer:focus {
    background-color: #31D0AA;
    
 }

 .soc-item-footer {
    width: 40px;
    height: 40px;

}



/*--------------MODAL/--------*/

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color:  rgba(46, 47, 66, 0.4);
   /* display: flex;
    align-items: center;
    justify-content: center;*/
    opacity: 0;
    pointer-events: none;
    visibility: hidden;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.is-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;

}


.modal {
width: 408px;
min-height: 584px;
background-color:  #fcfcfc;;
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
box-shadow: 0 1px 1px 0 
rgba(0, 0, 0, 0.14), 0 1px 3px 0 
rgba(0, 0, 0, 0.12), 0 2px 1px 0 
rgba(0, 0, 0, 0.2);
padding: 72px 24px 24px 24px;

transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-btn-close {
position: absolute;
top: 24px;
right: 24px;
width: 24px;
height: 24px;
background-color: #E7E9FC;

border-radius: 50%;
transition-property:  background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    display: flex;
    align-items: center;
    justify-content: center; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-btn-close:focus {
    background-color:  #404bbf;
    border: none;
    fill: #ffffff
    }
    .modal-btn-close:hover {
        background-color:  #404bbf;
        border: none; 
        fill: #ffffff
        }
        

.btn-close-svg {

transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-title {
    font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.02em;
text-align: center;
color: #2E2F42;
margin-bottom: 16px;
}

.modal-field {
    margin-bottom: 8px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4) ;
border-radius: 4px;
width: 360px;
height: 40px;
padding-left: 38px;
background-color: transparent;
outline: transparent;
transition: fill 250ms linear;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-input:focus {
border-color: #4D5AE5;
}

.modal-input:focus + .modal-field-icon {
    fill: #4D5AE5;
}



.modal-label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: #8E8F99;

}

.modal-field-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms linear;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal-text {
    font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
height: 120px;
width: 100%;
    border: 1px solid rgba(46, 47, 66, 0.4) ;
border-radius: 4px;
resize: none;
padding: 8px 16px;


background-color: transparent;
outline: transparent;
transition: fill 250ms linear;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text:hover  {
    border-color: #4D5AE5;
}
.modal-text:focus  {
    border-color: #4D5AE5;
}





/*-------------ACCEPT POLICY------------*/

.modal-field {
    margin-bottom: 8px;
} 

.modal-field-comment {
    margin-bottom: 16px;
}

.modal-field-privacy {
    margin-bottom: 24px;
}


.accept-text {
    font-weight: 400;
font-size: 12px;
line-height: 117%;
letter-spacing: 0.04em;
color: #8e8f99;

align-items: center;
gap: 8px;
margin-bottom: 24px;
}

.privacy-link {
    line-height: 133%;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #4d5ae5;
}

.accept-text span {
    width: 16px;
    height: 16px;
    border-radius: 2px;
border: 1px solid rgba(46, 47, 66, 0.4);

align-items: center;
justify-content: center;
fill: transparent;

}


.modal-span-privacy {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    border 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    }


.modal-check:checked + .accept-text span {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.accept-send-btn {
    font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0.04em;
text-align: center;
color: #fff;
box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
min-width: 169px;
width: 169px;
height: 56px;
border-radius: 4px;
padding: 16px 32px;
background-color: #4d5ae5;
border: none;
display: block;
margin: 0 auto;
transition-property:  background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.accept-send-btn:hover {
    background-color:  #404bbf;

}

.accept-send-btn:focus {
    background-color:  #404bbf;

}




